# Java
*.class
*.jar
*.war
*.ear

# Eclipse
.project
.classpath
.settings
.tomcatplugin

# Idea
.idea
*.iml
*.iws
*.ipr

# OS
Thumbs.db
.DS_Store

# Gradle
.gradle
!gradle-wrapper.jar

# Maven
target
*.versionsBackup

# Build
out
build
bin

# Other
*.log
*.swp
*.bak
